.entranceAutoOption {
    display: block !important;
}
.entranceAutoOption.Mui-focused {
    text-decoration: none !important;
    background-color: var(--color-entrance-menu-option-hover) !important;
    color: var(--color-entrance-menu-option-text-hover) !important;
}
.entranceAutoPaper {
    font-size: 0.875rem !important;
    line-height: 1.43 !important;
    letter-spacing: 0.01071em !important;
    margin: 0 !important;
}
.entranceAutoListBox {
    padding: 0 !important;
}
.entranceAutoPopper {
    position: relative !important;
    transform: none !important;
}
.entranceAutoInput {
    background-color: var(--color-entrance-menu-input) !important;
    border-bottom: 1px solid var(--color-entrance-menu-border) !important;
}
.entranceAutoInput::after {
    border-bottom: 0px solid var(--color-entrance-menu-border) !important;
}
.entranceAutoInput::before {
    border-bottom: 0px solid var(--color-entrance-menu-border) !important;
}
.entranceAutoInput:hover::before {
    border-bottom: 0px solid var(--color-entrance-menu-border) !important;
}
.entranceAutoSearchLabel .Mui-focused {
    color: var(--color-entrance-menu-input-text) !important;
}
.entranceAutoSearchLabel .MuiFormLabel-root {
    color: var(--color-entrance-menu-input-text) !important;
}
.entranceAutoNoButton {
    display: none !important;
}
.entranceAutoWidthHack {
    padding: 0 calc(var(--theme-spacing) * 0.75) 0 calc(var(--theme-spacing) * 6.5) !important;
    font-family: Tahoma, sans-serif !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: normal !important;
    letter-spacing: 0.00938em !important;
    height: 0px !important;
    color: transparent !important;
}
.entranceText {
    padding: calc(var(--theme-spacing) * 0.75) calc(var(--theme-spacing) * 0.75) calc(var(--theme-spacing) * 0.75) calc(var(--theme-spacing) * 3) !important;
    font-family: Tahoma, sans-serif !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: normal !important;
    letter-spacing: 0.00938em !important;
}
.entranceText:hover {
    text-decoration: none;
    background-color: var(--color-entrance-menu-option-hover);
    color: var(--color-entrance-menu-option-text-hover);
}
.entranceAreaText {
    padding: calc(var(--theme-spacing) * 0.75) calc(var(--theme-spacing) * 0.75) !important;
    font-family: Tahoma, sans-serif !important;
    font-size: 1rem !important;
    line-height: normal !important;
    letter-spacing: 0.00938em !important;
    font-weight: bold !important;
    font-style: italic !important;
    color: var(--color-entrance-menu-option-text) !important;
    background-color: var(--color-entrance-menu-input) !important;
}
.entranceAreaText:hover {
    text-decoration: none;
    cursor: default;
}
