.scrollControl {
    display: block;
    width: 0px;
    height: 0px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
@media screen and (max-width: 600px) {
    .areaCard {
        width: 100%;
    }
}

@media screen and (min-width: 600px) {
    .areaCard {
        width: auto;
    }
}

.areaCard {
    display: block;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: var(--area-background);
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 2px 1px -1px var(--area-box-shadow),0px 1px 1px 0px var(--area-box-shadow2),0px 1px 3px 0px var(--area-box-shadow3);
}
.areaCard.areaRequiredGeneric {
    background-color: var(--area-background-required);;
}
.areaCard.areaRequiredSpecific {
    background-color: var(--area-background-path);;
}
.areaCard.areaNotRequired {
    background-color: var(--area-background-foolish);;
}
.areaHeader {
    padding: calc(var(--theme-spacing) * 0.75);
}
.areaTitle {
    background-color: var(--area-header);
    display: flex;
    flex-direction: row;
    padding: var(--theme-spacing) calc(var(--theme-spacing) * 2) var(--theme-spacing) calc(var(--theme-spacing) * 0.5);
    align-items: center;
}
.areaTitle.areaRequiredGeneric {
    background-color: var(--area-header-required);
}
.areaTitle.areaRequiredSpecific {
    background-color: var(--area-header-path);
}
.areaTitle.areaNotRequired {
    background-color: var(--area-header-foolish);
}
.areaTitleText {
    font-family: Roboto,sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.6;
}
.areaTitleItemCount {
    font-family: Roboto,sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6;
}
.areaRefreshCounter {
    color: var(--area-header);
    opacity: 0;
}
.areaTitleCollapse {
    flex-grow: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.entranceAnchor {
    text-decoration: none;
    height: 0;
    position: relative;
    top: calc(var(--theme-spacing) * -10);
}
.entranceAnchor:hover {
    text-decoration: none;
    cursor: default;
}
.entranceAnchor::before {
    content: "";
    display: block;
}
.entranceAnchorFakeText {
    height: 1;
    width: 1;
    position: absolute;
    overflow: hidden;
    top: -10;
}
.collapseArea {
    cursor: pointer !important;
}
.areaTitlePathIcon {
    margin-right: var(--theme-spacing);
}
.areaTitleItemIcon {
    margin-left: var(--theme-spacing);
}
.areaTitleIconSeparator {
    font-size: x-large;
    font-weight: bold;
    line-height: 24px;
    margin: 0 var(--theme-spacing);
}