
.nested {
    margin-left: calc(var(--theme-spacing) * 4);
    font-size: 1rem;
    color: var(--color-sidebar-text);
    box-sizing: border-box;
    position: relative;
    line-height: 1.1876em;
    letter-spacing: 0.00938em;
    display: flex;
    flex-direction: column;
}
.nestedWrapper {
    display: inline-block;
}
.wrapperWrapper {
    display: block;
}
.settingSelect {
    color: var(--color-sidebar-text);
    font: inherit;
    border-radius: 0;
    border: 0;
    min-width: calc(var(--theme-spacing) * 2);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    text-align: left;
    height: 1.1876em;
    margin: 0;
    padding: 6px 0px 7px 0px;
    padding-right: calc(var(--theme-spacing) * 3);
    box-sizing: content-box;
    background-color: var(--color-sidebar);
}
.settingSelect.settingSelectFake {
    padding-right: 0px;
}
.settingSelect.settingSelectFake .MuiSvgIcon-root {
    width: 20px;
    height: 20px;
}
.settingSelect:focus-visible {
    outline: 0;
}
.settingSelect .fakeSelectValue {
    flex-grow: 1;
}
.settingSelect option {
    color: var(--color-sidebar-text);
    background-color: var(--color-sidebar);
}
.settingSelect:hover ~ .settingText {
    border-top: 1px solid var(--color-sidebar-text-border-focus);
}
.settingText {
    color: var(--color-sidebar-text-secondary);
    margin: 0;
    padding-top: 3px;
    margin-bottom: calc(var(--theme-spacing) * 2);
    text-align: left;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    border-top: 1px solid var(--color-sidebar-text-border);
    /* transition: border-top 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */
}

.settingMultiSelect .MuiSelect-icon {
    fill: var(--color-sidebar-text);
}

.settingMultiSelect .MuiSelect-select {
    color: var(--color-sidebar-text);
}
.nested .settingMultiSelect::before {
    border-bottom: 1px solid var(--color-sidebar-text-border);
}
.nested .settingMultiSelect:hover:not(.Mui-disabled, .Mui-error)::before {
    border-bottom: 1px solid var(--color-sidebar-text-border-focus);
}
.nested .settingMultiSelect.Mui-focused::after {
    transform: scaleX(0);
}
.settingMultiSelect ~ .MuiFormHelperText-root {
    color: var(--color-sidebar-text-secondary);
}
.settingMultiSelectMenu .MuiPaper-root {
    background-color: var(--color-sidebar);
    color: var(--color-sidebar-text);
    overflow-y: auto;
}
.settingMultiSelectMenu .MuiMenuItem-root.Mui-selected {
    background-color: var(--color-sidebar-text-select);
}
.settingMultiSelectMenu .MuiMenuItem-root:hover {
    background-color: var(--color-sidebar-hover);
}
.settingMultiSelectMenu .MuiMenuItem-root.Mui-selected:hover {
    background-color: var(--color-sidebar-text-select-hover);
}
.settingMultiSelectMenu .MuiCheckbox-root,
.settingMultiSelectMenu .MuiCheckbox-root.Mui-checked {
    color: var(--color-sidebar-text);
}