@font-face {
    font-family: 'Hylia Serif Beta';
    src: url(/HyliaSerifBeta-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    src: url(/roboto-latin-400-normal.woff2) format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: italic;
    src: url(/roboto-latin-400-italic.woff2) format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;
    src: url(/roboto-latin-500-normal.woff2) format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: italic;
    src: url(/roboto-latin-500-italic.woff2) format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;
    src: url(/roboto-latin-700-normal.woff2) format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: italic;
    src: url(/roboto-latin-700-italic.woff2) format('woff2');
}

hr {
    height: 1px;
    margin: 0px;
    border: none;
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.87);
}

body {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100%;
}