@font-face {
    font-family: 'Hylia Serif Beta';
    src: url(/HyliaSerifBeta-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'DS-Digital';
    src: url(/DS-Digital.woff2) format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    src: url(/roboto-latin-400-normal.woff2) format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: italic;
    src: url(/roboto-latin-400-italic.woff2) format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;
    src: url(/roboto-latin-500-normal.woff2) format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: italic;
    src: url(/roboto-latin-500-italic.woff2) format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;
    src: url(/roboto-latin-700-normal.woff2) format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: italic;
    src: url(/roboto-latin-700-italic.woff2) format('woff2');
}

body {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100%;
}