.ootItemTracker {
    width: var(--drawer-width);
    line-height: 0;
    padding: 0;
    white-space: nowrap;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 0px;
    grid-auto-rows: minmax(48px, 48px);
    border-bottom: 1px solid var(--color-sidebar-border);
    overflow-x: visible;
    background-color: var(--color-sidebar);
}
.ootItemsBackground {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -10;
}
.ootItemPanelContainer {
    display: flex;
    flex-wrap: wrap;
}
.itemsHeldContainer {
    width: var(--drawer-width);
}
.ootItemTracker ul {
    padding: 0;
}
.ootItemTracker .iconLeftText {
    color: var(--color-shadowed-text);
}
.ootItemTracker .iconLeftTopText {
    color: var(--color-shadowed-text);
}
.ootItemTracker .iconCenterText {
    color: var(--color-shadowed-text);
}
.ootItemTracker .iconRightText {
    color: var(--color-shadowed-text);
}
.ootItemTracker .iconRightTopText {
    color: var(--color-shadowed-text);
}
.ootItemTracker .iconDiv {
    padding: 4px;
}
.ootItemTracker .iconContainer {
    width: 40px;
    height: 40px;
}
.ootItemTracker .svgIcon {
    width: 40px;
    height: 40px;
}
.ootItemTracker .iconDiv:hover {
    cursor: pointer;
}

.ootItemTracker .iconDiv:hover .svgIcon.disabledSettingIcon,
.ootItemTracker .iconDiv:hover .iconContainer.disabledSettingIcon {
    filter: none;
}
.ootItemTracker .iconSideText {
    display: none;
}
.itemPanelEntry {
    position: relative;
}
.itemPanelInset {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(0,0,0,0.25);
    border-radius: 5px;
    top: 4px;
    left: 4px;
    box-shadow: inset -0.2em -0.2em 0.2em 0 rgba(255,255,255,0.20), inset 0.2em 0.2em 0.2em 0 rgba(0,0,0,0.3);
}
.itemPanelInset.found {
    background-color: rgba(255, 255, 255, 0.3);
}
.ootCompressedCButtons .itemPanelInset {
    display: none;
}
@media screen and (max-width: 480px) {
    .ootItemTracker {
        grid-template-columns: 1fr repeat(8, 48px) 1fr !important;
    }
    .ootEquipmentHeldContainer,
    .ootItemsHeldContainer {
        grid-column: 2 / 7 !important;
    }
    .ootSongsHeldContainer {
        grid-row: 8 / 15 !important;
    }
    .ootQuestInfoContainer {
        grid-column: 7 / 10 !important;
        grid-row: 1 / 15 !important;
        grid-template-columns: 1fr !important;
    }
    .ootChildTradeItemsContainer,
    .ootAdultTradeItemsContainer {
        grid-column: 2 / 10 !important;
        grid-row-end: span 2 !important;
        width: auto !important;
        display: grid !important;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: minmax(48px, 48px);
        justify-items: center;
    }
    .ootChildTradeItemsContainer {
        grid-row-start: 18 !important;
    }
    .ootAdultTradeItemsContainer0 {
        grid-row-start: 18 !important;
    }
    .ootAdultTradeItemsContainer1 {
        grid-row-start: 20 !important;
    }
    .ootDungeonMedItemsContainer,
    .ootDungeonSideItemsContainer,
    .ootDungeonStoneItemsContainer {
        grid-column: 2 / 7 !important;
        justify-content: left !important;
    }
    .med .ootDungeonContainer {
        width: 240px !important;
    }
    .stone .ootDungeonContainer {
        width: 240px !important;
    }
    .ootDungeonMedItemsContainer .ootDungeonItems > .iconTooltipContainer:first-child  {
        display: none;
    }
    .ootDungeonStoneItemsContainer {
        width: auto !important;
        grid-column: 7 / 10 !important;
        grid-row-end: span 3 !important;
        grid-template-columns: repeat(2, 72px) !important;
        grid-auto-rows: minmax(48px, 48px);
    }
    .ootDungeonTCGItemsLastRow .ootDungeonContainer:nth-child(odd) {
        grid-column-end: span 1;
        grid-row-start: 1;
    }
    .ootDungeonTCGItemsLastRow .ootDungeonContainer:nth-child(2) {
        grid-column-end: span 2;
        grid-row-start: 2;
    }
    .ootDungeonTCGItemsLastRow .ootDungeonContainer:nth-child(4) {
        grid-column-end: span 2;
        grid-row-start: 3;
    }
    .ootDungeonItemsLastRow .ootDungeonContainer {
        grid-column-end: span 2;
        grid-row-end: span 1;
    }
    .ootDungeonStoneItemsContainer .ootDungeonItems > .iconTooltipContainer:first-child {
        display: none;
    }
    .ootDungeonStoneItemsContainer .ootDungeonContainer:nth-child(4) .ootDungeonItems > .iconTooltipContainer:first-child {
        display: flex;
    }
    .ootDungeonStoneItemsContainer .ootDungeonItems > .iconTooltipContainer:first-child .iconDiv {
        padding-right: 6px !important;
    }
    .ootDungeonStoneItemsContainer .ootDungeonContainer {
        justify-content: left !important;
        width: auto !important;
    }
    .ootDungeonStoneItemsContainer .ootDungeonLabelContainer {
        flex-grow: 1;
    }
    .ootDungeonStoneItemsContainer .ootDungeonItems > .ootSilverRupeeExpando {
        left: -4px !important;
    }
    .ootDungeonTCGItemsLastRow .ootDungeonInset1,
    .ootDungeonItemsLastRow .ootDungeonInset1 {
        right: 4px !important;
    }
    .ootEnemySoulsContainer,
    .ootBossSoulsContainer,
    .ootRegionalSoulsContainer {
        grid-column: 2 / 10 !important;
    }
    .ootEnemySoulsContainer {
        grid-row-end: span 5 !important;
    }
    .ootEnemySoulsContainer0 {
        grid-row-start: 18 !important;
    }
    .ootEnemySoulsContainer1 {
        grid-row-start: 20 !important;
    }
    .ootEnemySoulsContainer2 {
        grid-row-start: 22 !important;
    }
    .ootRegionalSoulsContainer0 {
        grid-row-start: 18 !important;
    }
    .ootRegionalSoulsContainer1 {
        grid-row-start: 20 !important;
    }
    .ootRegionalSoulsContainer2 {
        grid-row-start: 22 !important;
    }
    .ootBossSoulsContainer0 {
        grid-row-start: 18 !important;
    }
    .ootBossSoulsContainer1 {
        grid-row-start: 20 !important;
    }
    .ootBossSoulsContainer2 {
        grid-row-start: 22 !important;
    }
    .ootBossSoulsContainer5 {
        grid-row-start: 23 !important;
    }
    .ootBossSoulsContainer6 {
        grid-row-start: 25 !important;
    }
    .ootBossSoulsContainer7 {
        grid-row-start: 27 !important;
    }
}
.ootItemsHeldContainer {
    grid-column: 1 / 6;
    grid-row: 1 / 5;
    background-color: var(--color-item-menu-items);
    display: grid;
    grid-template-columns: 1fr repeat(4, 48px);
    gap: 0px;
    grid-auto-rows: minmax(48px, 48px);
    justify-items: end;
}
.ootEquipmentHeldContainer {
    grid-column: 1 / 6;
    grid-row: 5 / 8;
    background-color: var(--color-item-menu-equip);
    display: grid;
    grid-template-columns: 1fr repeat(4, 48px);
    gap: 0px;
    grid-auto-rows: minmax(48px, 48px);
    justify-items: end;
}
.ootSongsHeldContainer {
    grid-row: span 7;
    display: grid;
    grid-template-columns: 48px 1fr;
    gap: 0px;
    grid-auto-rows: minmax(48px, 48px);
}
.ootQuestInfoContainer {
    grid-column: 6 / 11;
    grid-row: 1 / 8;
    background-color: var(--color-item-menu-quest);
    display: grid;
    grid-template-columns: 96px 144px;
    gap: 0px;
    grid-auto-rows: minmax(48px, 48px);
}
.ootWinConsContainer {
    grid-row: span 6;
    width: calc(48px * 3);
}
.ootItemsHeldLastRowContainer {
    grid-row: span 1;
    display: grid;
    grid-template-columns: 48px 1fr;
    gap: 0px;
    grid-auto-rows: minmax(48px, 48px);
    justify-items: left;

}
.ootChildTradeItemsContainer {
    grid-column: 1 / 11;
    grid-row-end: span 1;
    width: var(--drawer-width);
    background-color: var(--color-item-menu-trade);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ootAdultTradeItemsContainer {
    grid-column: 1 / 11;
    grid-row-end: span 1;
    width: var(--drawer-width);
    background-color: var(--color-item-menu-trade);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ootDungeonMedItemsContainer {
    grid-column: 1 / 6;
    grid-row-end: span 5;
    backdrop-filter: saturate(0%) brightness(500%);
    background-color: var(--color-item-menu-keys);
    display: grid;
    z-index: 2;
}
.ootDungeonSideItemsContainer {
    grid-column: 6 / 11;
    grid-row-end: span 5;
    backdrop-filter: saturate(0%) brightness(500%);
    background-color: var(--color-item-menu-keys);
    display: grid;
    justify-content: end;
}
@media screen and (max-width: 930px) {
    .ootDungeonMedItemsContainer {
        justify-content: end;
    }
    .ootDungeonSideItemsContainer {
        justify-content: left;
    }
}
.ootDungeonStoneItemsContainer {
    grid-column: 1 / 11;
    grid-row-end: span 1;
    backdrop-filter: saturate(0%) brightness(500%);
    background-color: var(--color-item-menu-keys);
    display: grid;
}
.ootDungeonStoneItemsContainer .ootDungeonItems > .iconTooltipContainer:first-child .iconDiv {
    padding-right: 0px;
}
.ootDungeonStoneItemsContainer .ootDungeonItems > .ootSilverRupeeExpando {
    left: 5px;
}
.ootDungeonItemsLastRow {
    grid-template-columns: repeat(3, 1fr);
}
.ootDungeonTCGItemsLastRow {
    grid-template-columns: repeat(4, 1fr);
}
.ootEnemySoulsContainer {
    grid-column: 1 / 11;
    grid-row-end: span 4;
    place-content: center;
    background-color: var(--color-item-menu-souls);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ootBossSoulsContainer {
    grid-column: 1 / 11;
    grid-row-end: span 1;
    place-content: center;
    background-color: var(--color-item-menu-souls);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ootRegionalSoulsContainer {
    grid-column: 1 / 11;
    grid-row-end: span 3;
    place-content: center;
    background-color: var(--color-item-menu-souls);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ootItemTracker .ootMaxItemUpgrade .iconRightText {
    color: var(--color-sidebar-upgrade);
}

.ootRewardWinCons {
    width: 144px;
    height: 192px;
    position: relative;
}
.ootRewardWinCons .iconTooltipContainer,
.ootRewardWinCons .iconTooltipContainer .iconDiv {
    position: absolute;
    top: 0px;
    left: 0px;
}
.ootRewardWinCons .iconTooltipContainer:has(.top) {
    position: absolute;
    top: 0px;
    left: 48px;
}
.ootRewardWinCons .iconTooltipContainer:has(.leftTop) {
    position: absolute;
    top: 24px;
    left: 8px;
}
.ootRewardWinCons .iconTooltipContainer:has(.rightTop) {
    position: absolute;
    top: 24px;
    left: 88px;
}
.ootRewardWinCons .iconTooltipContainer:has(.leftBottom) {
    position: absolute;
    top: 72px;
    left: 8px;
}
.ootRewardWinCons .iconTooltipContainer:has(.rightBottom) {
    position: absolute;
    top: 72px;
    left: 88px;
}
.ootRewardWinCons .iconTooltipContainer:has(.bottom) {
    position: absolute;
    top: 96px;
    left: 48px;
}
.ootRewardWinCons .iconTooltipContainer:has(.left) {
    position: absolute;
    top: 144px;
    left: 8px;
}
.ootRewardWinCons .iconTooltipContainer:has(.middle) {
    position: absolute;
    top: 144px;
    left: 48px;
}
.ootRewardWinCons .iconTooltipContainer:has(.right) {
    position: absolute;
    top: 144px;
    left: 88px;
}
.ootRewardWinCons .iconTooltipContainer:has(.triforce) {
    position: absolute;
    top: 48px;
    left: 48px;
}
.ootRewardWinCons .triforce .iconContainer {
    opacity: 1;
    filter: none;
}
.ootRewardWinCons .iconCenterText {
    opacity: 100%;
    filter: none;
    width: 40px;
}
.ootCounterWinCons {
    width: 144px;
    height: 96px;
    display: flex;
    align-items: center;
    position: relative;
}
.ootCounterWinCons .iconContainer {
    filter: none;
    opacity: 100%;
}
.ootCounterItem {
    width: 144px;
    height: 48px;
    margin: 0px;
    float: none !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ootCounterItem div {
    float: none !important;
    opacity: 1;
    display: block;
}
.ootCounterItem:hover {
    cursor: pointer;
    background-color: var(--color-sidebar-hover);
}
.ootCounterItem .ootCounterLabel {
    color: var(--color-sidebar-text);
    font-family: 'Hylia Serif Beta';
    font-size: 1.3rem;
    line-height: 1.43;
    width: 96px;
    text-align: center;
}
.ootCompressedCButtons {
    position: relative;
    width: 96px;
    height: 48px;
}
.ootCompressedInset {
    position: absolute;
    width: 88px;
    height: 40px;
    background-color: rgba(0,0,0,0.25);
    border-radius: 5px;
    top: 4px;
    left: 4px;
    box-shadow: inset -0.2em -0.2em 0.2em 0 rgba(255,255,255,0.2), inset 0.2em 0.2em 0.2em 0 rgba(0,0,0,0.3);
}
.ootCompressedCButtons .iconDiv {
    padding: 1px;
}
.ootCompressedCButtons .iconContainer {
    width: 22px;
    height: 22px;
}
.ootCompressedCButtons .iconTooltipContainer {
    position: absolute;
}
.ootCompressedCButtons .iconTooltipContainer:has(.leftButton) {
    left: 12px;
    top: 12px;
}
.ootCompressedCButtons .iconTooltipContainer:has(.upButton) {
    left: 36px;
    top: 0px;
}
.ootCompressedCButtons .iconTooltipContainer:has(.downButton) {
    left: 36px;
    top: 24px;
}
.ootCompressedCButtons .iconTooltipContainer:has(.rightButton) {
    left: 60px;
    top: 12px;
}
.ootItemTracker .iconDiv.ootItemBlank:hover {
    background-color: transparent;
    cursor: auto;
}