.ootItemTracker {
    width: 480px;
    line-height: 0;
    padding: 0;
    white-space: nowrap;
    background-color: var(--color-sidebar);
    display: flex;
    flex-wrap: wrap;
}
.ootItemTracker ul {
    padding: 0;
    background-color: var(--color-sidebar);
}
.ootItemTracker .iconLeftText {
    color: var(--color-sidebar-text);
}
.ootItemTracker .iconLeftTopText {
    color: var(--color-sidebar-text);
}
.ootItemTracker .iconCenterText {
    color: var(--color-sidebar-text);
}
.ootItemTracker .iconRightText {
    color: var(--color-sidebar-text);
}
.ootItemTracker .iconRightTopText {
    color: var(--color-sidebar-text);
}
.ootItemTracker .iconDiv {
    padding: 8px;
}
.ootItemTracker .iconDiv:hover {
    background-color: var(--color-sidebar-hover);
    cursor: pointer;
    margin: 0 auto;
    border-radius: 24px;
}
.ootItemTracker .iconSideText {
    display: none;
}
.ootItemsHeldContainer {
    width: calc(48px * 7);
}
.ootItemTracker div {
    display: flex;
    flex-wrap: wrap;
}
.ootItemTracker .ootMaxItemUpgrade .iconRightText {
    color: var(--color-sidebar-upgrade);
}
.ootWinConsContainer {
    width: calc(48px * 3);
}

.ootRewardWinCons {
    width: 144px;
    height: 192px;
    position: relative;
}
.ootRewardWinCons .iconTooltipContainer,
.ootRewardWinCons .iconTooltipContainer .iconDiv {
    position: absolute;
    top: 0px;
    left: 0px;
}
.ootRewardWinCons .iconTooltipContainer:has(.top) {
    position: absolute;
    top: 0px;
    left: 48px;
}
.ootRewardWinCons .iconTooltipContainer:has(.leftTop) {
    position: absolute;
    top: 24px;
    left: 0px;
}
.ootRewardWinCons .iconTooltipContainer:has(.rightTop) {
    position: absolute;
    top: 24px;
    left: 96px;
}
.ootRewardWinCons .iconTooltipContainer:has(.leftBottom) {
    position: absolute;
    top: 72px;
    left: 0px;
}
.ootRewardWinCons .iconTooltipContainer:has(.rightBottom) {
    position: absolute;
    top: 72px;
    left: 96px;
}
.ootRewardWinCons .iconTooltipContainer:has(.bottom) {
    position: absolute;
    top: 96px;
    left: 48px;
}
.ootRewardWinCons .iconTooltipContainer:has(.left) {
    position: absolute;
    top: 144px;
    left: 0px;
}
.ootRewardWinCons .iconTooltipContainer:has(.middle) {
    position: absolute;
    top: 144px;
    left: 48px;
}
.ootRewardWinCons .iconTooltipContainer:has(.right) {
    position: absolute;
    top: 144px;
    left: 96px;
}
.ootRewardWinCons .iconTooltipContainer:has(.triforce) {
    position: absolute;
    top: 48px;
    left: 48px;
}
.ootRewardWinCons .triforce .iconContainer {
    opacity: 1;
}
.ootRewardWinCons .iconCenterText {
    opacity: 100%;
}
.ootCounterWinCons {
    width: 144px;
    height: 96px;
    display: flex;
    align-items: center;
}
.ootCounterItem {
    width: 144px;
    height: 48px;
    margin: 0px;
    float: none !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ootCounterItem div {
    float: none !important;
    opacity: 1;
    display: block;
}
.ootCounterItem:hover {
    cursor: pointer;
    background-color: var(--color-sidebar-hover);
}
.ootCounterItem .ootCounterLabel {
    color: var(--color-sidebar-text);
    font-family: 'Hylia Serif Beta';
    font-size: 1.5rem;
    line-height: 1.43;
    width: 96px;
    text-align: center;
}
.ootCompressedCButtons {
    position: relative;
    width: 96px;
    height: 48px;
}
.ootCompressedCButtons .iconDiv {
    padding: 4px;
}
.ootCompressedCButtons .iconContainer {
    width: 16px;
    height: 16px;
}
.ootCompressedCButtons .iconTooltipContainer {
    position: absolute;
}
.ootCompressedCButtons .iconTooltipContainer:has(.leftButton) {
    left: 12px;
    top: 12px;
}
.ootCompressedCButtons .iconTooltipContainer:has(.upButton) {
    left: 36px;
    top: 0px;
}
.ootCompressedCButtons .iconTooltipContainer:has(.downButton) {
    left: 36px;
    top: 24px;
}
.ootCompressedCButtons .iconTooltipContainer:has(.rightButton) {
    left: 60px;
    top: 12px;
}
.ootItemTracker .iconDiv.ootItemBlank:hover {
    background-color: transparent;
    cursor: auto;
}
