.MuiDialogContentText-root.redAlert {
    color: var(--color-dialog-alert) !important;
    font-size: 2em !important;
}
.MuiAppBar-root {
    z-index: 1201 !important;
    background-color: var(--color-header) !important;
}
.hide {
    display: none;
}
.MenuPadding {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
