.iconTooltipContainer {
    display: flex;
    align-items: center;
    position: relative;
}
.iconDiv {
    cursor: pointer;
    position: relative;
}
.iconRightText,
.iconRightTopText,
.iconCenterText,
.iconLeftText,
.iconLeftTopText {
    position: absolute;
    font-family: 'Hylia Serif Beta';
    line-height: 1.43em;
    text-shadow: 0px 0px 6px var(--color-icon-text-shadow), 0px 0px 2px var(--color-icon-text-shadow), 0px 0px 2px var(--color-icon-text-shadow), 0px 0px 2px var(--color-icon-text-shadow), 0px 0px 2px var(--color-icon-text-shadow);
}
.iconRightText {
    bottom: -4px;
    right: 0px;
    width: 16px;
    text-align: right;
    z-index: 3;
}
.iconRightTopText {
    top: -4px;
    right: 0px;
    width: 16px;
    text-align: right;
    z-index: 3;
}
.iconCenterText {
    bottom: -4px;
    left: 0px;
    width: 32px;
    text-align: center;
    z-index: 3;
}
.iconLeftText {
    bottom: -4px;
    left: 0px;
    width: 16px;
    text-align: left;
    z-index: 3;
}
.iconLeftTopText {
    top: -4px;
    left: 0px;
    width: 16px;
    text-align: left;
    z-index: 3;
}
.svgIcon.iconRightSub,
.iconRightSub {
    position: absolute;
    bottom: -4px;
    right: 0px;
    width: 16px !important;
    height: 16px !important;
    color: var(--color-icon-text) !important;
    filter: drop-shadow(0px 0px 2px var(--color-icon-text-shadow)) drop-shadow(0px 0px 2px var(--color-icon-text-shadow));
}
.svgIcon.iconRightTopSub,
.iconRightTopSub {
    position: absolute;
    top: -4px;
    right: 0px;
    width: 16px !important;
    height: 16px !important;
    color: var(--color-icon-text) !important;
    filter: drop-shadow(0px 0px 6px var(--color-icon-text-shadow));
}
.svgIcon.iconCenterSub,
.iconCenterSub {
    position: absolute;
    bottom: -4px;
    left: 0px;
    width: 32px !important;
    height: 16px !important;
    color: var(--color-icon-text) !important;
    filter: drop-shadow(0px 0px 6px var(--color-icon-text-shadow));
}
.svgIcon.iconLeftSub,
.iconLeftSub {
    position: absolute;
    bottom: -4px;
    left: 0px;
    width: 16px !important;
    height: 16px !important;
    color: var(--color-icon-text) !important;
    filter: drop-shadow(0px 0px 6px var(--color-icon-text-shadow));
}
.svgIcon.iconLeftTopSub,
.iconLeftTopSub {
    position: absolute;
    top: -4px;
    left: 0px;
    width: 16px !important;
    height: 16px !important;
    color: var(--color-icon-text) !important;
    filter: drop-shadow(0px 0px 6px var(--color-icon-text-shadow));
}
.iconContainer {
    position: relative;
    width: 32px;
    height: 32px;
}
.svgIcon {
    position: relative;
    color: var(--color-icon-text) !important;
    width: 32px;
    height: 100% !important;
    filter: drop-shadow(0px 0px 1px var(--color-icon-text-shadow));
}
.iconRightText.disabledSettingIcon,
.iconRightTopText.disabledSettingIcon,
.iconCenterText.disabledSettingIcon,
.iconLeftText.disabledSettingIcon,
.iconLeftTopText.disabledSettingIcon,
.iconRightSub.disabledSettingIcon,
.iconRightTopSub.disabledSettingIcon,
.iconCenterSub.disabledSettingIcon,
.iconLeftSub.disabledSettingIcon
.iconLeftTopSub.disabledSettingIcon,
.svgIcon.disabledSettingIcon,
.iconContainer.disabledSettingIcon {
    filter: grayscale(100%);
    opacity: 70%;
}
.iconLabelContainer {
    position: relative;
}
.iconTooltipWrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 240px;
}
.iconTooltip {
    position: absolute;
    color: var(--color-icon-tooltip-text);
    font-family: 'Hylia Serif Beta';
    flex-direction: column;
    flex-wrap: wrap;
    padding: var(--theme-spacing);
    border: var(--color-icon-tooltip-border) 1px solid;
    background-color: var(--color-icon-tooltip);
    box-shadow: 0px 2px 1px -1px var(--color-icon-tooltip-shadow);
    z-index: 1300;
    display: none !important;
}
.iconDiv:hover + .iconTooltipWrapper .iconTooltip {
    display: flex !important;
}
.iconTooltip div {
    max-width: 240px;
    text-align: center;
    line-height: 1.43em;
    white-space: normal;
}
.iconSideText {
    display: flex;
    max-width: 64px;
    height: 24px;
    align-items: center;
    font-family: 'Hylia Serif Beta';
    word-wrap: break-word;
    text-wrap: wrap;
    line-height: 1.43;
}
.svgIcon.blueWarpIcon {
    color: #30f1ff !important;
}