.MultiselectOptionDisabled {
    opacity: 20%;
}
.multiselectSettingMenu {
    color: var(--color-sidebar-menu-text);
    font-family: 'Hylia Serif Beta';
    padding: var(--theme-spacing);
    background-color: var(--color-sidebar-menu);
}
.multiselectSettingMenuTitle {
    border-bottom: var(--color-sidebar-menu-header-border) 1px solid;
    font-size: larger;
}
.multiselectSettingMenu div {
    cursor: pointer;
}
.multiselectSettingMenu div.multiselectSettingMenuTitle {
    cursor: auto;
}
.multiselectSettingMenuAll {
    margin-right: calc(var(--theme-spacing) * 1);
}
#globalMultiselectOptionMenuElement .MuiPaper-root {
    overflow-y: auto;
}