.settingsContainer {
    font-family: 'Hylia Serif Beta';
    color: var(--color-sidebar-text);
}
.settingTabName {
    color: var(--color-sidebar-text);
}
.settingSectionName {
    color: var(--color-sidebar-text);
}
.settingsListContainer .settingSectionName {
    font-family: 'Hylia Serif Beta';
    font-size: x-large;
    text-align: center;
    width: 100%;
    display: block;
}
.settingSectionContainer {
    margin: calc(var(--theme-spacing) * 1.5) var(--theme-spacing);
    border: 1px solid var(--color-sidebar-text);
    border-radius: var(--theme-spacing);
    padding-bottom: var(--theme-spacing);
}
.settingCollectionContainer {
    line-height: 0;
    padding: 0;
}
.settingCollectionContainer ul {
    padding: 0;
    background-color: var(--color-sidebar);
}
.settingCollectionContainer .iconLeftText {
    color: var(--color-sidebar-text);
}
.settingCollectionContainer .iconLeftTopText {
    color: var(--color-sidebar-text);
}
.settingCollectionContainer .iconCenterText {
    color: var(--color-sidebar-text);
}
.settingCollectionContainer .iconRightText {
    color: var(--color-sidebar-text);
}
.settingCollectionContainer .iconRightTopText {
    color: var(--color-sidebar-text);
}
.settingCollectionContainer .iconDiv {
    padding: 8px;
}
.settingCollectionContainer .iconDiv:hover {
    background-color: var(--color-sidebar-hover);
    cursor: pointer;
    margin: 0 auto;
}
.settingMenuRow {
    white-space: nowrap;
    background-color: var(--color-sidebar);
}
.settingMenuRow div {
    display: inline-block;
}
.iconTooltipLeftTop ~ .iconTooltip {
    right: auto;
    left: 0px;
    top: auto;
    bottom: 48px;
}
.iconTooltipRightTop ~ .iconTooltip {
    right: 0px;
    left: auto;
    top: auto;
    bottom: 48px;
}
.iconTooltipLeftBottom ~ .iconTooltip {
    right: auto;
    left: 0px;
    top: 48px;
    bottom: auto;
}
.iconTooltipRightBottom ~ .iconTooltip {
    right: 0px;
    left: auto;
    top: 48px;
    bottom: auto;
}