.MultiselectOptionDisabled {
    opacity: 20%;
}
.multiselectSettingMenu {
    color: var(--color-sidebar-menu-text);
    padding: calc(var(--theme-spacing) * 1);
    background-color: var(--color-sidebar-menu);
    font-size: 1.5em;
    letter-spacing: 0.00938em;
}
.multiselectSettingMenuTitle {
    border-bottom: var(--color-sidebar-menu-header-border) 1px solid;
    font-size: larger;
    font-family: 'Hylia Serif Beta';
}
.multiselectSettingMenu div {
    cursor: pointer;
    padding: calc(var(--theme-spacing));
}
.multiselectSettingMenu div:not(.multiselectSettingMenuTitle, .multiselectBatchSettings):hover {
    opacity: 100%;
    background-color: var(--color-sidebar-menu-hover);
}
.multiselectSettingMenu span {
    opacity: 20%;
    cursor: pointer;
    padding: calc(var(--theme-spacing)) calc(var(--theme-spacing) * 3);
    border-radius: var(--theme-spacing);
}
.multiselectSettingMenu span:hover {
    opacity: 100%;
    background-color: var(--color-sidebar-menu-hover);
}
.multiselectSettingMenu div:is(.multiselectSettingMenuTitle, .multiselectBatchSettings) {
    cursor: auto;
}
.multiselectSettingMenuAll {
    margin-right: calc(var(--theme-spacing) * 1);
}
#globalMultiselectOptionMenuElement .MuiPaper-root {
    overflow-y: auto;
}