.MuiDrawer-root.settingsDrawer {
    flex-shrink: 0 !important;
}
.drawerHeader {
    display: flex;
    width: var(--drawer-width);
    align-items: center;
    padding: 0px var(--theme-spacing);
    justify-content: flex-end;
    /* necessary for content to be below app bar */
    min-height: 64px;
}
.drawerContainer {
    list-style: none;
    margin: 0;
    padding: 0;
}
.drawerPaper.MuiPaper-root {
    overflow: visible;
}
.settingsDrawer .MuiPaper-root {
    border: none;
}
.tabList {
    border-top: 2px solid var(--color-sidebar-text);
    width: 496px;
    margin-bottom: calc(var(--theme-spacing) * 1);
}
.gameInfo {
    display: flex;
    flex-direction: column;
    width: var(--drawer-width);
    height: calc(100vh - 64px);
    background-color: var(--color-sidebar);
}
@media screen and (max-width: 600px) {
    .settingsDrawer .MuiPaper-root {
        width: 100%;
    }
    .gameInfo {
        width: 100%;
    }
    .settingsTabContainer,
    .gameInfo .itemsHeldContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.itemsHeldContainer {
    margin: var(--theme-spacing);
}
.drawerTab {
    width: 496px;
    overflow-y: auto;
    flex-grow: 1;
}
.drawerTab::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.drawerTab::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.drawerTab::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
.sidebarTabs .MuiTab-root {
    color: var(--color-sidebar-text);
    opacity: 30%;
}
.sidebarTabs .MuiTab-root:hover {
    opacity: 100%;
}
.sidebarTabs .MuiTab-root.Mui-selected {
    color: var(--color-sidebar-text);
    opacity: 100%;
}
.sidebarTabs .MuiTabs-indicator {
    background-color: var(--color-sidebar-text);
}
.devLink {
    display: flex;
    align-items: center;
    color: var(--color-sidebar-text);
    text-decoration: none;
    padding: var(--theme-spacing) 0;
    margin-left: calc(var(--theme-spacing) * 4);
}
.devLink:hover {
    text-decoration: underline;
}
.devLink img {
    width: 32px;
    height: 32px;
}
.devLink span {
    margin-left: var(--theme-spacing);
}