.MuiDrawer-root.settingsDrawer {
    flex-shrink: 0 !important;
}
.drawerHeader {
    display: flex;
    width: var(--drawer-width);
    align-items: center;
    padding: 0px var(--theme-spacing);
    justify-content: flex-end;
    /* necessary for content to be below app bar */
    min-height: 64px;
}
.MuiList-root.drawerContainer {
    overflow: hidden !important;
}
.gameInfo {
    display: flex;
    flex-direction: column;
    width: var(--drawer-width);
    height: calc(100vh - 64px);
    background-color: var(--color-sidebar);
    padding: var(--theme-spacing);
}
.drawerTab {
    flex-grow: 1;
    overflow-y: auto;
}