@font-face {
    font-family: 'Hylia Serif Beta';
    src: url(./HyliaSerifBeta-Regular.otf) format('opentype');
}

hr {
    height: 1px;
    margin: 0px;
    border: none;
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.87);
}

body {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}